<div class="container">
    <div class="inputContainer">
        <div style="margin: 5px;">Ingrese id del usuario</div>
        <div class="formContainer">
            <form [formGroup]="postForm">           
                <div>
                    <input type="text" id="userId" (change)="getPosts()" name="userId" formControlName="userId" placeholder="Id de usuario" required>
                    <button (click)="getPosts()">Ir</button>
                </div>
                <div class="errorText" *ngIf="checkError('userId', 'pattern')">Solo se admiten números</div>
            </form>           
        </div>
    </div>
    <div class="content">
        <div class="titulo">{{title}} del usuario {{id}}</div>
        <div class="form">
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Body</td>
                        <td>Comentarios</td>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let item of posts">
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item.body}}
                        </td>
                        <td>
                            <a routerLink="/comments/{{item.id}}">ver</a>
                        </td>
                    </tr>
                    <tr *ngIf="posts.length == 0">
                        <td colspan="3">No hay registros</td>
                    </tr>         
                </tbody>
            </table>
        </div>
    </div>
</div>