<div class="container">
    <div class="inputContainer">
        <div style="margin: 5px;">Ingrese id del usuario</div>
        <div class="formContainer">
            <form [formGroup]="usuarioForm">           
                <div>
                    <input type="text" id="userId" (change)="getAlbums()" name="userId" formControlName="userId" placeholder="Id de usuario" required>  
                    <button (click)="getAlbums()">Ir</button>
                </div>
                <div class="errorText" *ngIf="checkError('userId', 'pattern')">Solo se admiten números</div>
            </form>           
        </div>
    </div>
    <div class="content">
        <div class="titulo">{{title}} del usuario {{id}}</div>
        <div class="form">
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let item of albums">
                        <td>
                            {{item.title}}
                        </td>
                    </tr>
                    <tr *ngIf="albums.length == 0">
                        <td>No hay registros</td>
                    </tr>            
                </tbody>
            </table>
        </div>
    </div>
</div>