<div class="container">
    <div class="content">
        <div class="titulo">{{title}}</div>
        <div class="form">
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Username</td>
                        <td>Phone</td>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let item of users">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.username}}
                        </td>
                        <td>
                            {{item.phone}}
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>

