<div class="container">
    <div class="content">
        <div class="titulo">{{title}} {{id}}</div>
        <div class="form">
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Bosy</td>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let item of comments">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.mail}}
                        </td>
                        <td>
                            {{item.body}}
                        </td>
                    </tr>
                    <tr *ngIf="comments.length == 0">
                        <td>No hay registros</td>
                    </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</div>

