/* You can add global styles to this file, and also import other style files */
*{
   margin: 0px;
   padding: 0px;
   font-family: Tahoma;
}
.container{
   width: 100%;
   margin: 10px;
   min-height: 200px;
}

.inputContainer{
   width: 60%;
   text-align: center;
   margin: auto;
}

.formContainer{
   margin: auto;
   width: 60%;
}

form{
   width: 100%;
   height: 40px;
}

input{
   margin-right: 2px;
}

.errorText{
   font-size: 12px;
   color: red;
}
.content{
   width: 500px;
   padding: 0px;
   -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
   border-radius: 2px 2px 2px 2px;
   -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
   border: 0px solid #000000;
   margin: 0 auto;
}

.form{
   padding-top: 5px;
   padding-bottom: 5px;
}

table{
   width: 98%;
   margin: auto;
   text-align: center;
   border:1px solid #eaeaec;
}

thead tr{
   background: #e9ebff;
}

.titulo{
   border-radius: 2px 2px 2px 2px;
   -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
   border: 0px solid #000000;
   background: #1b2dffde;
   padding: 5px;
   color: white;
   text-align: center;
}

.tituloPrincipal{
   width: 100%;
   text-align: center;
   font-size: 32px;
   padding: 10px;
}

hr{
   width: 60%;
   margin: 0 auto;
}
 .form{

 }